# Dependencies (Never commit these, they take up GBs of space!)
node_modules/
mobile/node_modules/

# Secrets & Environment Variables (Contains passwords & JWT tokens)
.env
mobile/.env

# Build outputs & Expo cache
dist/
build/
mobile/.expo/
mobile/web-build/

# Uploaded Files
uploads/

# Mac OS System Files
.DS_Store
